.Xauthority
.bash_history
.cache/
.config/
.dmrc
.gconf/
.gitconfig
.gksu.lock
.gnome/
.icons
.local/
.macromedia/
.mozilla/
.pki/
.sudo_as_admin_successful
.vim/
.viminfo
.xsession-errors
.xsession-errors.old
old/
src/

